#form-container {
    background-color: #E9F4FC;
    min-height: 100%;
    box-shadow: 4px 4px 20px #cbcdd1;
    padding-top: 10px;
    /* border: 3px solid black; */
    /* z-index: -1; */
}


.makeAppear {
    /* display: none; */
}